@import 'styles/vars';

.ff_section {
  margin-top: 210px;
  overflow-x: hidden;

  @media (max-width: $breakpoint) {
    margin-top: 88px;
  }
}

.header_wrap {
  margin-bottom: 40px;

  @media (max-width: $breakpoint) {
    margin-bottom: 24px;
  }
}

.ff_section_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: -20px;
}

.ff_section_item {
  background: #030303;
  border: 1px solid #262626;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px;
}

.item4 {
  width: 168px;
  max-width: 168px;
  height: 168px;

  @media (max-width: $breakpoint) {
    flex: 0 0 calc(50% - 40px);
  }
}

.item5 {
  width: 168px;
  max-width: 168px;
  height: 168px;
  margin: 8px;

  @media (max-width: $breakpoint) {
    flex: 0 0 calc(100% - 40px);
    width: 100%;
    max-width: unset;
  }
}

.break {
  @media (max-width: $breakpoint) {
    width: 100%;
  }
}
