@import 'styles/vars';

.third_section {
  margin-top: 210px;
  overflow: hidden;

  @media (max-width: $breakpoint) {
    margin-top: 88px;
  }
}

.header_wrap {
  margin-bottom: 70px;
}

.third_section_item_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -42px -20px;
}

.third_section_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33.3333% - 40px);
  @media (max-width: $breakpoint) {
    flex: 1 1 100%;
  }
  margin: 42px 20px;
}

.button_wrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  @media (max-width: $breakpoint) {
    margin-top: 72px;
  }

  & > div {
    max-width: 376px;
    width: 100%;

    @media (max-width: $breakpoint) {
      max-width: 500px;
    }
  }
}
