@import 'styles/vars';

.form_wrap {
  background: #030303;
  border: 6px solid #8e4de1;
  box-sizing: border-box;
  padding: 26px 32px;
  max-width: 480px;

  @media (max-width: $breakpoint) {
    order: 2;
    max-width: unset;
    width: calc(100% + 32px);
    margin: 8px -16px;
  }
}

.form_header {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height, or 133% */

  /* White */

  color: #ffffff;
}

@mixin anim {
  transition: all 0.175s ease;
  will-change: box-shadow;
}

.checkbox_wrap {
  margin: 20px 0;
  padding: 4px 0;
  display: flex;
  align-items: center;
  @include anim;
}

.agree_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7a7a7a;
}

.error {
  box-shadow: 0 0 10px 6px rgba(255, 0, 0, 0.4);
  @include anim;
}
