@import 'styles/vars';

.section8 {
  margin-top: 210px;

  @media (max-width: $breakpoint) {
    margin-top: 88px;
  }
}

@mixin partners {
  margin-top: 40px;

  svg {
    width: 100%;
  }
}

.partners_desktop {
  @include partners;

  display: block;
  @media (max-width: $breakpoint) {
    display: none;
  }
}

.partners_mob {
  @include partners;

  display: none;
  @media (max-width: $breakpoint) {
    display: block;
  }
}
