@import 'reset';
@import 'normalize';
@import 'fonts';
@import 'typography';

@import 'components/src/carousel/style.css';

@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/modal';

body {
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  background: #030303;
  overflow-x: hidden;
}
