.common_modal {
  max-width: 480px;

  :global {
    .modal-content {
      max-width: 480px;
      background: #030303;
      border: 0;
      border-radius: 0;
    }
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
